$funding: #5d975b;
$entrepreneuring:#91b38f;
$operating: #ea6c2f;
$knowledge:#f7a47c;
$collaboration:#64c3ef;
$human_resources:#47a2e4;
$level0: rgb(141,210,205);
$level1: rgb(230,125, 74);
$level2: rgb(137,181,135);
